body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #F7F6F6;
    color: black;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF0CE;              /*aqui se modifica el color de fondo de la navegacion el header*/
    padding: 10px 20px;
    height: 60px;
}

.logo{
    width:  80px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #FDF0CE;              /*aqui se modifica el color de seleccion*/
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;                        /*aqui se modifica el color de sub menus*/ 
    border-top: 3px solid #2E1572;                  /*color de line que separa el menu de sub menu*/
    z-index: 1000;
    margin-top: 0;
    min-width: 200px;
}

.submenu li {
    margin-bottom: 0;
}

nav ul li:hover > .submenu {
    display: block;
}
.header-contact {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 10px;
}
.header-contact button {
    text-decoration: none;
    background-color: #444444;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 50px;
    height: auto;
    cursor: pointer;

}

.img_logo {
    text-align: left;
    margin-top: 20px;
    justify-items: center;
}

.img_logo h3 {
    float: right;
    margin-left: 6px;
}
.header-contact a {
    text-decoration: none;
    background-color: #444444;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

                                        /*aqui termina el encabezado*/

.contenedor_gen_1{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.cont1_col1{
    width: 400px;
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}
.cont1_col2 img{
    width: 385px;
    height: 186px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #00000000;
    border-radius: 20px 20px 20px 20px;
    text-align: right;
}
                                            /*empieza parte 2*/
.contenedor_gen_2{
    margin: 20px 0px;
    background: #B70F0A;
    border-color: #FFFFFF00;
    border-width: 1px;
    border-style: solid;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 130px;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-size: 20px;
}
                                            /*empieza parte 3*/
.contenedor_gen_3{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: left;
    font-family: "Helvetica";
    padding: 20px 0px;
    gap: 50px;

}
.cont3_col1 ul{
    font-size: 14px;
    line-height: 1.3;
}
.cont3_col3 p{
    width: 400px;
    font-size: 14px;
    line-height: 1.3;
}
.cont3_col2 img{
    width: 80px;
}
.cont3_col2{
    margin-right: 100px;
    align-content: center;
}
                                            /*pie de pagina*/
/*pie de pagina*/

#piepag{
    background-color: #2E1572;
    color: white;
    display: flex;
    padding: 0px;
    justify-content: center;
    margin-top: 15px;
}

#pietitulo{
	font-family: "Source Sans 3", sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.28;
	text-align: center;
    margin-bottom: 1px;
}
#piep{
    width: 300px;
    height: 99px;
    color: #FFFFFF;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 10px;
}
#pielink{
    line-height: 1.5;
}
#pie2{
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}
#pie2titulo{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#pie2 p{
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
}
#pie2bajo{
    margin-top: 30px;
}
#pie2bajo img{
    width: 35px;

}
#pie3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#pie3 h4{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
#inpform input{
    width: 180px;
    height: 20px;
    border-radius: 14px;
    border-style: solid;
    padding: 4px 8px 4px 8px;
    border-color: #232323;
    border-width: 1px;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}
#inpform select{
    margin-bottom: 5px;
    text-align: left;
    margin-right: 50px;
}
